<header>
    <nav class="navbar navbar-expand-md navbar-light fixed-top">
        <div class="container-fluid header-container">
            <a class="navbar-band mr-auto">
                <h5 class="text-primary">Tiger Cub Wallet</h5>
            </a>
            <button class="navbar-toggler mr-2" data-toggle="collapse" data-target="#navbarCollapse">
                <span class="navbar-toggler-icon"></span>
            </button>
            <ul class="nav justify-content-end">
            </ul>
        </div><!-- container-fluid -->
    </nav>
</header>
